# URL de l'API backend
# En local : http://localhost:3001
# En staging : https://coissant-api-staging.azurewebsites.net
# En prod : injecté automatiquement par Azure DevOps Pipelines
VITE_API_URL=http://localhost:3001
